@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: gray;
}

.myName {
  font-weight: 400;
}

img {
  width: 400px;
  height: 400px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
