@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #010101;
}

.navbar {
  background-color: #010101;
}

.navbar .navbar-nav .nav-link {
  color: #00a79a;}

.myName {
  font-weight: 400;
  color: #00a79a;
}

.footer {
  background-color: #010101;
  height: 70px;
  width: 100%;
}

.footer .nav-link {
  color: #00a79a;
  text-decoration: none;
}


